{ "printWidth": 120,
  "tabWidth": 4,
  "singleQuote": false,
  "trailingComma": "all",
  "useTabs": true,
  "bracketSpacing": false,
  "plugins": ["prettier-plugin-java"],
    "overrides": [
       {
         "files": "*.java",
         "options": {
           "parser": "java",
           "printWidth": 120,
           "tabWidth": 4,
           "singleQuote": false,
           "trailingComma": "all",
           "useTabs": true,
           "bracketSpacing": false
         }
       }
     ]
}
